/* header, main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

/*GENERAL*/
:root{
    --dark: #211915;
    --light: #ffffff;
    --primary: #f8e12e;
    --secondary: #5fa199;
    --danger: #c24b35;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	Font-family: Helvetica;
}
/*HEADER*/
.title{
    position: absolute;
    left: 350px;
    top: 100px;
    font-size: 5.5em;
    color: var(--primary);
    -webkit-text-stroke: 0.02em var(--danger);
    filter: drop-shadow(3px 2px 1px var(--dark));
}
.bg-title{
    background-image: url(./assets/design1_image1.jpg);
    height: 20em;
    background-size:150vw;
    background-position: 0px -14rem;
    animation: bg 20s alternate infinite ease-in-out;
}
@keyframes bg{
    from{
        background-position: -60rem -10rem;
    }
    50%{
        background-position: -30rem -80rem;
    }
    to{
        background-position: 0rem -10rem;
    }
}

.icon{
    position: fixed;
    z-index: 1;
    height: 300px;
    width: 300px;
    top: 10px;
    left: 50px;
    filter: drop-shadow(1px 1px 1px var(--dark));
}
.icon:hover{
    scale: 1.05;
    transition: 1s;
    cursor: pointer;
}
.icon:not(hover){
    scale: 1;
    transition: 1s;
}
.site{
    background-color: var(--dark);
    height: 3em;
    text-align: center;
    padding-top: .5em;
    color: var(--primary);
}
nav{
    position: fixed;
    top: 0px;
    background-color: var(--dark);
    height: 2.5em;
    width: 100%;
    padding-top: .3em;
    text-align: center;
}
a{
    text-decoration: none;
    padding: .1em;
    width:fit-content;
    color: var(--primary);
    filter: drop-shadow(2px 2px 1px var(--dark));
}
nav>a{
    color: var(--light);
    font-size: 1.6em;
}
a:hover{
    color: var(--danger);
}
a[href="#"]{
    color: var(--danger);
}
/*MAIN*/
main{
    background: linear-gradient(180deg, var(--light), var(--danger));
    align-items: center;
    padding: 2em;
}
aside, .section{
    display: inline-block;
}
aside>figure>img{
    height: 500px;
    width:35vw;
    border-radius: 2em;
    border-bottom: 5px solid var(--dark);
    border-right: 5px solid var(--dark);
}
.section{
    height: 500px;
    padding: 2em;
    margin-left: 2em;
    position:absolute;
    border-radius: 20px;
    color: var(--light);
    text-shadow: 2px 2px 2px var(--dark);
    background: linear-gradient(180deg, var(--secondary), var(--light));
    border-bottom: 5px solid var(--dark);
    border-right: 5px solid var(--dark);
}
.section>section{
    padding: 1em;
}
li{
    list-style-image: url() ;
    list-style-type: disclosure-
}