/*GENERAL*/
:root{
    --dark: #211915;
    --light: #ffffff;
    --primary: #f8e12e;
    --secondary: #5fa199;
    --danger: #c24b35;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	Font-family: Helvetica;
    cursor: url(assets/hockey_stick3.png), auto;
}
*::selection{
    background-color: var(--secondary);
    color: var(--primary);
}
::-webkit-scrollbar{
    width: .7em;
}
::-webkit-scrollbar-track{
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, var(--danger), var(--light));
    border: 2px solid var(--dark);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, var(--danger), var(--danger));
}
a:hover, .icon:hover, .inputMap:hover, .labelMap:hover{
    cursor: url(assets/hockey_glove3.png), auto;
}
/*HEADER*/
.title{
    font-size: clamp(1vw, 5.5em, 10vw);
    text-align: center;
    color: var(--primary);
    -webkit-text-stroke: 0.02em var(--danger);
    filter: drop-shadow(3px 2px 1px var(--dark));
    font-stretch: condensed;
}
.bg-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/design1_image1.jpg);
    height: 20em;
    background-size:150vw;
    background-position: top right;
    animation: bg 20s alternate infinite ease-in-out;
}
@keyframes bg{
    from{
        background-position: top right;
    }
    50%{
        background-position: bottom center;
    }
    to{
        background-position: top left;
    }
}

.icon{
    position: absolute;
    z-index: 1;
    height: clamp(5vw, 160px, 20vw);
    width: clamp(6vw, 190px, 23vw);
    top: 15em;
    right: 2vw;
    filter: drop-shadow(1px 1px 1px var(--dark));
}
.icon:hover{
    scale: 1.05;
    transition: 1s;
}
.icon:not(hover){
    scale: 1;
    transition: 1s;
}
.site{
    background-color: var(--dark);
    height: 3em;
    text-align: center;
    padding-top: .5em;
    color: var(--primary);
}
nav{
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: var(--dark);
    height: 2.5em;
    width: 100%;
    padding-top: .3em;
    text-align: center;
}
a{
    text-decoration: none;
    padding: .1em;
    width:fit-content;
    color: var(--primary);
    filter: drop-shadow(2px 2px 1px var(--dark));
}
nav>a{
    color: var(--light);
    font-size: 1.6em;
}
a:hover{
    color: var(--danger);
}
a[href="#"]{
    color: var(--danger);
}
/*MAIN*/
main{
    position: relative;
    background: linear-gradient(180deg, var(--light), var(--dark)),  url(assets/Palos\ Hockey.png) ;
    background-blend-mode:hard-light;
    background-size: cover, 50px;
    background-repeat:space;
    align-items: center;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
aside>figure{
    display: flex;
    width: 600px;
    max-width: 90vw;
    height: 500px;
}
aside>figure>div:first-child{
    border-radius: 50px 0px 0px 0px;
    }
aside>figure>div:last-child{
    border-radius: 0px 0px 50px 0px;
}
aside>figure>img{
    width: 0px;
    flex-grow: 1; /*que la imagen ocupe todo el espacio que pueda*/
    object-fit: cover; /*la imagen cubre todo sin deformarse*/
    border-radius: 50px 0px 50px 0px;
}
aside>figure>div{
    width: 0px;
    flex-grow: 1; /*que la imagen ocupe todo el espacio que pueda*/
    background-size: cover; /*la imagen cubre todo sin deformarse*/
    filter: contrast(60%);
    transition: .5s ease-in-out;
}
aside>figure>div:hover{
    width: 300px;
    filter: contrast(110%);
    animation: right-left 5s alternate infinite ease-in-out;
}
@keyframes right-left{
    from{
        background-position: right;
    }
    to{
        background-position: left;
    }
}
.section{
    min-height: fit-content;
    padding: 2em;
    margin-left: 2em;
    color: var(--light);
    text-shadow: 2px 2px 2px var(--dark);
    background: linear-gradient(180deg, transparent, var(--secondary), transparent);
    border-left:groove 5px  var(--danger);
    border-right:groove 5px  var(--danger);
}
article{
    padding-top: 1em;
}
section>h2, section>h4{
    text-align: center;
}
section>h3,article>h3,section>h2{
    color: var(--primary);
}
.section>section{
    padding: 1em;
}
/*LISTAS*/
ul,ol{
    list-style-position:outside;
}
li>ol{
    list-style-type: lower-latin;
}
li::marker{
    color: var(--primary);
}
ul>li::marker{
    content:"• ";
    list-style-type:circle;
}
/*TABLAS*/
table{
    background: linear-gradient(90deg, var(--secondary), var(--light), var(--secondary));
    border-spacing: 0;
    text-align: center;
    border: 3px solid var(--danger);
    color: var(--light);
    text-shadow: 1px solid var(--dark);
    box-shadow: 5px 3px 4px var(--dark);
}
caption{
    background: linear-gradient(90deg, var(--secondary), var(--light), var(--secondary));
    border: 3px solid var(--danger);
    border-bottom: none;
    font-size: 1.2em;
    padding: 10px;
    text-shadow: 2px 1px 1.5px var(--dark);
    box-shadow: 5px 0px 4px var(--dark);
    border-radius: 30px 30px 0px 0px;
}
caption:hover{
    background: linear-gradient(90deg, var(--secondary), var(--secondary));
}
td, th{
    border-bottom: 2px solid var(--danger);
    padding: 10px;
}
tbody>tr:nth-child(odd){
    text-shadow: 2px 1px 1.5px var(--dark);
}
tr:nth-child(even){
    background: linear-gradient(90deg, var(--primary), var(--light), var(--primary));
    color: var(--dark);
}
tr:nth-child(odd):hover{
    background-color:var(--secondary);
}
tr:nth-child(even):hover{
    background: linear-gradient(90deg, var(--light), var(--primary), var(--light));
}
thead>tr{
    background: linear-gradient(90deg, var(--primary), var(--light), var(--primary));
    color: var(--dark);
}
thead>tr:hover{
    background: linear-gradient(90deg, var(--light), var(--primary), var(--light));
}
.map-place{
    width:600px; 
    height:450px;
}
.map{
    opacity: 0;
    position: absolute;
    top:2.5em;
    left: 10vw;
    border-radius: 50px 0px 50px 0px;
    width: clamp(22rem, 80vw, 33rem);
}
.inputMap:checked + .map{
    opacity: 1;
    box-shadow: 5px 5px 4px var(--dark);
}
.inputMap{
    opacity: 0;
    position: relative;
}
.inputMap:checked ~ label{
background-color: var(--danger);
text-shadow:none;
font-size: 1.1em;
color: var(--light);
padding: .4em;
}
