/*GENERAL*/
:root{
    --dark: #211915;
    --light: #ffffff;
    --primary: #f8e12e;
    --secondary: #5fa199;
    --danger: #c24b35;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	Font-family: Helvetica;
}
body{
    padding: 2rem  10vw;
}
/*HEADER*/
.title{
    font-size: 4vw;
	padding-bottom: .1em;
    color: var(--primary);
    -webkit-text-stroke: 0.02em var(--danger);
    filter: drop-shadow(2px 2px 3px var(--dark));
}
.bg-title{
    background-image: url(./assets/design1_image2.jpg);
    height: 20em;
    background-size:cover;
    background-position: 0px -9rem;
}
.icon{
    position: absolute;
    height: 20vh;
    width: 20vh;
	translate: 2em 0;
	filter: drop-shadow(1px 1px 1px var(--dark));
    cursor: pointer;
}
.site{
    background-color: var(--dark);
    height: 3em;
    text-align: center;
    padding-top: .5em;
    color: var(--primary);
}
nav{
    position:absolute;
	translate: 56vw -29em;
    padding-top: 5em;
    padding-left: 2em;
}
a{
    text-decoration: none;
    width:fit-content;
    color: var(--primary);
    filter: drop-shadow(2px 2px 1px var(--dark));
}
nav>a{
	background-color: var(--secondary);
	border: 2px solid var(--danger);
	box-shadow: 1px 1px var(--dark);
    display: inline-block;
    font-size: 1.6em;
	padding-left: .4em;
	padding-right: .4em;
    margin-left: .1em;
}
nav>a:hover{
    color: var(--secondary);
	background-color: var(--primary);
}
a[href="#"]{
    color: var(--secondary);
	background-color: var(--primary);
}
a[href="#"]:hover{
    scale: 1;
}
/*MAIN*/
aside, .section{
    display: inline-block;
}
aside>figure>img{
    width:35vw;
}
.section{
    position: absolute;
    padding: 2em;
}
.section>section{
    padding: 1em;
}