/* header, main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

/*GENERAL*/
:root{
    --dark: #211915;
    --light: #ffffff;
    --primary: #f8e12e;
    --secondary: #5fa199;
    --danger: #c24b35;
}
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	Font-family: Helvetica;
}